<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PLJMacroDefinition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C2FA1A31E6B05B400AA9901</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2FA1BC1E6B05B400AA9901</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2FA1C71E6B05B400AA9901</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
